@{
    ViewBag.Title = "About";
}
<!doctype html>
<html lang="en">
<head>
    <title>CENG311</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Simonetta:400,900|Balthazar">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
    <h1>CENG-311 TERM PROJECT </h1>
    <h3>CREATING A SIMPLE BLOG</h3>
    <br />
    <h4>Muhsin ÖZBEK 1105011009</h4>
    <h4>Computer Engineering I.Section</h4>
    <br />
    <br>Email : <b>muhsinozbek09@gmail.com</b>
    <br />
    <br />
</body>

</html>